@import '../01subAtoms/colors';
@import '../01subAtoms/fontFamily';
@import '../01subAtoms/fontSize';

h1, h2, h3, p{
    color: $white;
}

h1{
    font-size: $f4;
    font-weight: 700;
    margin-bottom: .5em;
    line-height: .8em;
}

h2 {
    font-size: $f3;
    font-weight: 400;
    margin-bottom: .5em;
    line-height: .8em;
}

h3{
    font-size: $f3;
    font-weight: 400;
    margin-bottom: .5em;
}

p, textarea, figcaption, label, input, textarea, li{
    font-size: $f2;
    line-height: 1.6em;
}

.p--small{
    font-size: $f1;
}

 .what__txt{
    line-height: .5em;

    &--dark{
        color: $primaryColT;
    }

    &--muted{
        color: $primaryColDark;
    }
}