.index__body{
    background-color: $bgCol;
    background: url(/img/sincerely-media-VNsdEl1gORk-unsplash.jpg);
    background-size: cover;
}

.events__body{
    background-color: $bgCol;
    background: url(/img/florencia-viadana-6soR1lkaAH4-unsplash.jpg);
    background-size:cover;
}

.contact__body{
    background-color: $bgCol;
    background: url(/img/nathan-dumlao-zUNs99PGDg0-unsplash.jpg);
    background-size: cover;
}