@import '_colorCalculator';

/* === go to subAtoms === */

$primaryCol:        hsl($hue, $sat2, $lux2);
$primaryColDark:    hsl($hue, $sat2, $lux15);
$primaryColT:       hsla($hue, $sat3, $lux2, .9);

$white:             hsl($hue, 5%, $lux3);

$black:             hsl(0, 0%, 4%);

$blackT:            hsla(0, 0%, 4%, .8);

$bgCol:             hsl($hue+180, 15%, 5%);