@media screen and (min-width: 360px) and (min-height: 640px) {

    h1{
        position: relative;
        top: -4vh;
    }
}

@media screen and (min-width: 360px) and (min-height: 740px) {

    h1{
        position: relative;
        top: -1.5vh;
    }
}