@media screen and (min-width: 1440px){
 
    h1{
        top: -9vh;
    }

    label{
        margin-right: 1em;
    }

    input {
        margin: 0;
        width: 15vw;
        padding: .75em 1em;
    }

    fieldset {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 80vw;
        margin-bottom: 1.5vh;
    }


}