@media screen and (min-width: 414px) and (min-height: 846px) {

 .card__next-event{
     max-height: 25vh;
     margin-top: 5vh;
 }

 .card__next-event-left{
     position: relative;
     top: 2vh;
     left: -15vw;
 }

 .card__next-event-right{
    position: relative; 
    top: 1vh;
 }

}