@media screen and (min-width: 1280px) and (min-height: 800px) {


    fieldset{
        flex-direction: row;
        justify-content: space-between;
        width: 60vw;
        outline: 1px solid red;
    }

    form{


        &__input{
            max-width: 5px;
        }

        &__txt{
            max-width: 40vw;
            min-width: 40vw;
        }

    }
    .card__main-event--left{

        position: relative;
        left: -17vw;
        top: 5vh;
       }
    
    .card__main-even--right{
        position: relative;
        left: 17vw;
        top: -5vh;
    }

}