@media screen and (min-width: 1440px){
    
    .card{

        width: 40vw;

        &__txt--big{
            font-size: $f3;
        }

        &__txt--med{
            font-size: $f2;
        }

        &__txt--small{
            font-size: $f15;
        }
    }

    .card--emblema{
        box-sizing: border-box;
        width: 12vw;
        height: 12vw;
        padding: 3em;
    }

    .card__next-event{

        background: linear-gradient(158deg, $blackT 50%, $primaryColT 50%);
        margin: 7vh 0;
        width: 40vw;

    }

    .card__kontakt{

        background: linear-gradient(9deg, $blackT 50%, $primaryColT 50%);  
        width: 40vw;
        margin-bottom: 6.5vh;

       

        &--left{
            position: relative;
            left: 10vw;
        }

        &--right{
            position: relative;
            left: -15vw;
        }

    }

    .card__main-event{

        width: 40vw;
        background: linear-gradient(156.5deg, $blackT 50%, $primaryColT 50%);
        &--left{
            position: relative;
            left: -5vw;
        }

    }


    .orient-right{
        position: relative;
        left: 5vw;
        bottom: 1vh;
    }

    .iframe{
        width: 40vw;
    }

    .social-media{
        margin-bottom: 1vh;
    }



    .header__icon{
        display: none;
    }

    .ext-menu{
        display: block;

        &__link{
            font-size: $f2;
            margin: 0 1em;
        }
    }

}