.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: $blackT;
    width: 66vw;
    margin: .5em 0;

    &--emblema{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        background-color: $blackT;
        width: 66vw;
        margin: .5em 0;
    }

    /* GENERAL STYLES */

    &__txt--big{
        font-size: $f25;
    }
    &__txt--med{
        font-size: $f15;
    }
    &__txt--small{
        font-size: $f1;
    }

    &__txt--right{
        text-align: right;
    }

    /* STYLES FOR EVERY PAGE */

    &__next-event{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        background: linear-gradient(150deg, $blackT 50%, $primaryColT 50%);
        width: 66vw;
        height: 66vw;
        margin: .5em 0;
        &-left{
            position: relative;
            left: -5em;
        }
        &-right{
            position: relative;
            left: 5em;
            top: -3em;
        }
    }
    
    &__main-event{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        background: linear-gradient(133deg, $blackT 50%, $primaryColT 50%);
        width: 66vw;
        margin: .5em 0;

        &__txt--big{
            font-size: $f2;
        }

        &--left{
            position: relative;
            left: -3em;
        }

        &--right{
            position: relative;
            left: 5em;
        }
    }


    &__kontakt{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        background: linear-gradient(25deg, $blackT 50%, $primaryColT 50%);        
        width: 66vw;
        margin: .5em 0;

        &--left{
            position: relative;
            left: 1.25em;
        }
        &--right{
            position: relative;
            left: -5em;
        }
    }



}

